.list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  display: inline-block;
}

.button {
  background: none;
}

.radio {
  display: none;
}

.label__checked {
  color: blue;
}
