@import '../../../app.module.scss';

.enter_btn {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: url('../../../assets/svg/enter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  filter: invert(77%) sepia(42%) saturate(3353%) hue-rotate(1deg) brightness(106%) contrast(104%);
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.logout_btn{
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: url('../../../assets/svg/logout.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  filter: invert(77%) sepia(42%) saturate(3353%) hue-rotate(1deg) brightness(106%) contrast(104%);
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
