@import '../../../../../app.module.scss';

.audio_next_btn {
  width: 160px;
  padding: 3px 0;
  color: $color-creame;
  font-size: 2.6rem;
  background-color: $color-old-mauve;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $color-turquoise-surf;
  }
}

@media screen and (max-width: 768px) {
  .audio_next_btn {
    width: 140px;
    font-size: 2rem;
  }
}