@import '../../../../app.module.scss';

.units {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  &_block {
    padding-top: 10px;
  }
}


.btn {
  &_unit {
    width: 50px;
    height: 50px;
    color: $color-black;
    font-family: 'Neucha', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid 1px $color-gainsboro;
    border-radius: 50%;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transform: scale(1.3);
    }
  }

  &_active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.3);
  }

  &_a1 {
    background-color: $color-light-lime-green;
  }

  &_a2 {
    background-color: $color-dark-lime-green;
  }

  &_b1 {
    background-color: $color-pikachu-yellow;
  }

  &_b2 {
    background-color: $color-sandy-brown;
  }

  &_c1 {
    background-color: $color-mentol-green;
  }

  &_c2 {
    background-color: $color-turquoise-surf;
  }
}

@media screen and (max-width: 635px) {
  .units {
    width: 250px;
    margin: auto;
  }
}
