.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.button {
  background: none;
  border: none;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 4px;

  &_correct {
    border: 1px solid green;
    color: green;
  }

  &_incorrect {
    border: 1px solid red;
    color: red;
  }
}
