@import '../mainPage.module.scss';

.aboutProject {
  position: relative;
  padding-bottom: calc(3.125rem + ((1vw - 3.2px) * 15.1786));
  font-family: 'Comfortaa', cursive;
  background-color: $color-creame;

  &_title {
    margin-top: calc(0.0625rem + ((1vw - 3.2px) * -8.8393));
    font-family: 'Neucha', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
  }

  &_notice {
    margin-top: 1rem;
    color: $color-venetian-red;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-align: center;

    span {
      font-size: 1.5rem;
    }
  }

  &_cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }

  &_card {
    width: 300px;
    padding: 20px;
    color: $color-raisin-black;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 150%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:nth-child(1) {
      background-color: $color-light-lime-green;
    }

    &:nth-child(2) {
      background-color: $color-moonstone-blue;
    }

    &:nth-child(3) {
      background-color: $color-pikachu-yellow;
    }

    &:nth-child(4) {
      background-color: $color-sandy-brown;
    }

    &_title {
      font-family: 'Neucha', cursive;
      font-size: 1.7rem;
      font-weight: 600;
      text-align: center;
    }

    &_info {
      margin-top: 1rem;
    }
  }

  &_wave {
    position: absolute;
    bottom: -20px;

    path {
      fill: $color-turquoise-surf;
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutProject {
    &_card {
      width: 100%;
    }
  }
}