@import '../../app.module.scss';
* {
  box-sizing: border-box;
}

.cards{
  &_container{
    // position: relative;
    width: 92%;
    margin: auto;
    row-gap: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(30px, auto);
  }
} 

.Modal{
  width: 70%;
  height: 200px;
  position: absolute;
    top: 400px;
    left: 400px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
}