@import '../../app.module.scss';

.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
}

.Modal {
  position: absolute;
  top: 400px;
  left: 400px;
  right: 40px;
  bottom: 40px;
  width: 70%;
  height: 200px;
  background-color: $color-papaya-whip;
}

.main {
  text-align: center;
}

.textbook_games {
  position: relative;
  top: -160px;
  width: 350px;
}

.game {

  &_sprint,
  &_audio {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    padding-top: 2px;
    padding-right: 2px;
    color: $color-venetian-red;
    font-family: 'Neucha', cursive;
    font-size: 1.25rem;
    text-align: center;
    background-color: $color-pale-spring-bud;
    border: none;
    border-radius: 50%;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transform: scale(1.1);
    }
  }

  &_sprint {
    top: 20px;
    right: -20px;
    background-color: $color-sandy-brown;
  }

  &_audio {
    top: -15px;
    left: 100px;
    background-color: $color-golden-poppy;
  }
}

.none {
  display: none;
}

.faded {
  background-color: rgba(168, 159, 148, 0.3);
}

@media screen and (max-width: 1180px) {
  .textbook_games {
    position: static;
    width: 350px;
    margin: 10px auto;
  }

  .game {

    &_sprint,
    &_audio {
      position: static;
      margin: 0 20px 0 0;
    }

    &_audio {
      margin-right: 90px;
    }
  }
}
