@import '../../app.module.scss';

.header_ocean {
  position: absolute;
  z-index: 2;
  top: -100px;
  left: 0;
  width: 100%;
}

.header_wave {
  position: absolute;
  width: 500%;
  height: 200px;
  background-image: url('../../assets/svg/waveHeader.svg');
  background-repeat: repeat-x;
  transform: translate3d(0, 0, 0);

  &:nth-child(1) {
    filter: invert(85%) sepia(13%) saturate(7493%) hue-rotate(356deg) brightness(99%) contrast(108%);
    animation: header_wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }

  &:nth-child(2) {
    filter: invert(7%) sepia(12%) saturate(567%) hue-rotate(294deg) brightness(94%) contrast(86%);
    animation: header_wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
}

@keyframes header_wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

.endWave {
  display: none;
}
