@import '../../../app.module.scss';

.menu {
  &_container {
    margin-left: auto;
  }

  &_btn,
  &_cover,
  &_shadow {
    display: none;
  }

  &_list {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    color: $color-turquoise-surf;
    font-size: 1rem;
    font-weight: 500;
  }

  &_link {
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      margin-bottom: -7px;
      background: linear-gradient(to right, $color-turquoise-surf, $color-golden-poppy, $color-charm-pink 100%);
      transform: translateX(-50%);
      transition: width 0.5s ease 0s, right 0.5s ease 0s;
    }

    &:hover {
      color: $color-june-bud;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .menu {
      position: relative;

    &_btn {
      position: relative;
      z-index: 7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 30px;
      padding: 3px 0;
      cursor: pointer;

      span {
        width: 100%;
        height: 2px;
        background-color: $color-turquoise-surf;
      }

      &:hover span {
        background-color: $color-june-bud;
      }
    }

    &_list {
      position: fixed;
      z-index: 5;
      top: 0;
      right: 0;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      min-width: 240px;
      padding: 100px 50px 30px;
      background-color: $color-raisin-black;
      box-shadow: $color-gainsboro 0px 1px 4px;
    }

    &_active {
      display: flex;
    }

    &_shadow {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(41, 41, 41, 0.6);
    }

    &_open {
      position: absolute;
      padding: 0;

      span {
        &:nth-child(1) {
          transform: rotate(-45deg) translate(-10px, 10px);
        }

        &:nth-child(2) {
          transform: scaleY(0);
        }

        &:nth-child(3) {
          transform: rotate(45deg) translate(-10px, -10px);
        }
      }
    }
  }
}
