$color-white: #fff;
$color-black: #000;
$color-gainsboro: #ddd;
$color-raisin-black: #231f20;
$color-charm-pink: #e98eac;
$color-golden-poppy: #ffc300;
$color-june-bud: #c9db48;
$color-turquoise-surf: #00abcd;
$color-moonstone-blue: #7bbbc6;