$color-white: #fff;
$color-black: #000;
$color-gainsboro: #ddd;
$color-raisin-black: #231f20;
$color-spanish-carmine: #cd0044;
$color-golden-poppy: #ffc300;
$color-june-bud: #c9db48;
$color-turquoise-surf: #00abcd;
$color-true-blue: #005fcc;
$color-violets-are-blue: #7954ff;
$color-charm-pink: #e98eac;
