$color-white: #fff;
$color-black: #000;
$color-gainsboro: #ddd;
$color-raisin-black: #231f20;
$color-charm-pink: #e98eac;
$color-old-mauve: #632d4b;
$color-venetian-red: #9c030a;
$color-dark-chocolate: #410101;
$color-creame: #fffdd0;
$color-sandy-brown: #eba164;
$color-pikachu-yellow: #f6cf57;
$color-golden-poppy: #ffc300;
$color-june-bud: #c9db48;
$color-light-lime-green: #bbd66c;
$color-blue-green: #004d40;
$color-mentol-green: #9cd2b4;
$color-navy: #000080;
$color-turquoise-surf: #00abcd;
$color-moonstone-blue: #7bbbc6;
