@import '../../../../app.module.scss';

.complexW_main {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  &_container {
    padding-top: 50px;
  }
}

.complexW_info {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 540px) {
  .complexW_main {
    .container {
      min-height: calc(100vh - 220px);
    }
  }
}
