@import '../../app.module.scss';

.header {
  width: 100%;
  padding: 20px 0;
  background-color: $color-raisin-black;

  .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: $color-turquoise-surf;
  cursor: pointer;

  &_L {
    color: $color-june-bud;
  }

  &_ang {
    color: $color-golden-poppy;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    font-weight: 400;
  }

  &_container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &_slogan {
    display: flex;
    flex-direction: column;
    color: $color-charm-pink;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.enter_btn {
  position: relative;
  z-index: 7;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: url('../../assets/svg/enter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  filter: invert(77%) sepia(42%) saturate(3353%) hue-rotate(1deg) brightness(106%) contrast(104%);
  cursor: pointer;
}
