@import '../../app.module.scss';

.header {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 90px;
  background-color: $color-raisin-black;

  .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
