@import '../../../../app.module.scss';

.warningPopup {
  &_wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);
  }

  &_container {
    position: relative;
    width: 90%;
    max-width: 500px;
    padding: 30px 20px;
    text-align: center;
    background-color: $color-sandy-brown;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &_title {
    font-size: 1.5rem;
  }

  &_note {
    padding-top: 20px;
    font-size: 1rem;
  }

  &_btns {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 20%;
  }

  &_btn {
    padding: 8px;
    color: $color-black;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:nth-child(1) {
      background-color: $color-mentol-green;
    }

    &:nth-child(2) {
      background-color: $color-creame;
    }
  }
}
