@import '../../../../app.module.scss';

.audioGame {
  &_control_container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &_control_btns,
  &_lives {
    display: flex;
    gap: 5px;
  }

  &_live {
    color: $color-venetian-red;
    font-size: 2rem;
  }

  &_content {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
  }

  &_null {
    display: block;
    width: 180px;
    height: 180px;
    background-color: $color-old-mauve;
    background-image: url('../../../../assets/svg/headphone.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $color-turquoise-surf;
    }
  }
}

@media screen and (max-width: 768px) {
  .audioGame {
    &_control_container {
      flex-direction: column;
    }

    &_control_btns {
      order: 1;
      align-self: flex-end;
    }

    &_lives {
      order: 2;
      align-self: flex-end;
    }

    &_content {
      gap: 8px;
    }

    &_null {
      width: 120px;
      height: 120px;
    }
  }
}
