@import '../../../../app.module.scss';

.audio {
  &_page {
    height: calc(100vh - 180px);
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background-image: url('../../../../assets/img/gramophone-bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    overflow: auto;

    .container {
      position: relative;
    }
  }

  &_control_btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 540px) {
  .audiogame {
    &_page {
      height: calc(100vh - 220px);
    }
  }
}
