@import '../../app.module.scss';

.footer {
  background-color: #231f20;

  .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

.rsschool {
  &_group {
    display: flex;
    width: 100%;
  }

  &_link {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &_logo {
    height: calc(1.875rem + ((1vw - 7.67px) * 1.5314));
    filter: invert(44%) sepia(98%) saturate(832%) hue-rotate(153deg) brightness(92%) contrast(101%);

    &:hover {
      filter: invert(97%) sepia(92%) saturate(3748%) hue-rotate(163deg) brightness(82%) contrast(87%);
    }
  }
}

.year {
  flex: 1;
  color: $color-golden-poppy;
  font-size: calc(2.125rem + ((1vw - 7.67px) * 2.144));
  font-weight: 700;
}

.github {
  &_group {
    display: flex;
    gap: 16px;
  }

  &_link {
    display: flex;
    gap: 8px;
    align-items: center;

    &:hover {
      .github_logo {
        filter: invert(97%) sepia(92%) saturate(3748%) hue-rotate(163deg) brightness(82%) contrast(87%);
      }

      .github_name {
        color: $color-june-bud;
      }

      .github_name::after {
        width: 100%;
      }
    }
  }

  &_logo {
    height: calc(1.25rem + ((1vw - 7.67px) * 0.6126));
  }

  &_name {
    position: relative;
    color: $color-turquoise-surf;
    font-size: 1rem;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      margin-bottom: -7px;
      background: linear-gradient(to right, $color-turquoise-surf, $color-golden-poppy, $color-charm-pink 100%);
      transform: translateX(-50%);
      transition: width 0.5s ease 0s, right 0.5s ease 0s;
    }
  }
}

.aigerim {
  filter: invert(79%) sepia(36%) saturate(1903%) hue-rotate(293deg) brightness(104%) contrast(83%);
}

.solomon {
  filter: invert(95%) sepia(84%) saturate(826%) hue-rotate(8deg) brightness(93%) contrast(83%);
}

.lazzat {
  filter: invert(86%) sepia(23%) saturate(7217%) hue-rotate(0deg) brightness(103%) contrast(106%);
}

@media screen and (max-width: 540px) {
  .footer {
    .container {
      flex-direction: column;
      padding-bottom: 20px;
    }
  }

  .rsschool {
    &_group {
      justify-content: space-between;
    }

    &_link {
      flex: 0;
    }

    &_logo {
      height: 2rem;
    }
  }

  .year {
    flex: 0;
    font-size: 2.2rem;
  }

  .github_group {
    width: 100%;
    justify-content: flex-end;

    &_logo {
      height: 2rem;
    }

    &_name {
      font-size: 0.5rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .github_group {
    gap: 6px;
    justify-content: space-between;
  }
}
