@import '../../../app.module.scss';

.auth{
  &_main{
    background-color: $color-mentol-green;
    height: 80vh;
  }
  &_container{
    width: 400px;
    padding: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  &_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.btn{
  &_link{
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    &:hover{
      cursor: pointer;
      scale: 1.1;
      // border-bottom: 2px solid $color-dark-lime-green;
    }
  }
  &_active{
    border-bottom: 2px solid $color-dark-lime-green;
  }

}

