@import '../../app.module.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card{
  // position: relative;
  background-color: $color-white;
  // width: 100%;
  width: 310px;
  height: 70px;
  margin: 5px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  padding: 6px 30px;
  border-radius: 20px;
  overflow: hidden;
  border: solid 1px $color-gainsboro;
  box-shadow: 5px 3px 3px $color-gainsboro;
  font-size: 20px;
  &:hover{
    height: 100%;
    z-index: 10;
  } 
  &_header,
  &_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  // &_read{
  //   display: flex;
  //   align-items: center;
  //   column-gap: 5px;
  // }
  &_word{
    margin: 0;
  }
  &_trans{
    margin: 0;
  }
  &_transcript{
    margin: 0;
  }
  &_img{
    width: 240px;
    height: 180px;
    border-radius: 20px;
    margin-top: 10px;
  }
}

// .innerContent h3{
//   margin-top: 10px;
// }
.innerContent{
  h3{
    margin: 10px 0 5px 0;
  }
  h4{
    text-decoration: underline;
    margin-top: 10px;
  }
  p{
    font-size: 15px;
  }
  &_text{
    padding-left: 10px;
  }
}
.btn{
 &_round{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  &:hover{
    cursor: pointer;
    background-color: $color-gainsboro;
    } 
 }
 &_normal{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  text-transform: uppercase;
  border: none;
  &:hover{
    cursor: pointer;
    } 
 }
 &_icon{
  width: 20px;
  height: 20px;
  // border-radius: 50%;
 }

  // &_sound{
  // //   background-image: url(../../assets/icons/sound.svg);
  // //   background-repeat: no-repeat;
  // // background-position: center;
  // // background-size: contain;
  // width: 40px;
  // height: 40px;
  // border-radius: 50%;
  // }
}

.innerContent{
  text-align: left;
  font-size: small;
}