@import '../../../app.module.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card{
  position: relative;
  background-color: $color-white;
  width: 310px;
  height: 70px;
  margin: 5px;
  text-align: center;
  padding: 6px 30px;
  overflow: hidden;
  font-size: 20px;
  transition: 0.2s all;
  color: $color-raisin-black;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover{
    height: 100%;
    grid-row: span 6;
  } 

  &_header,
  &_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &_word{
    margin: 0;
  }

  &_trans{
    margin: 0;
  }

  &_transcript{
    margin: 0;
  }

  &_img{
    width: 240px;
    height: 180px;
    border-radius: 20px;
    margin-top: 10px;
  }
}

.innerContent {
  h3{
    margin: 10px 0 5px 0;
  }

  h4{
    text-decoration: underline;
    margin-top: 10px;
  }

  p{
    font-size: 15px;
  }

  &_text{
    padding-left: 10px;
  }
}

.btn{
 &_round{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  &:hover{
    cursor: pointer;
    background-color: $color-gainsboro;
    } 
 }

 &_normal{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  text-transform: uppercase;
  border: none;
  &:hover{
    cursor: pointer;
    } 
 }

 &_expand{
  position: absolute;
  top: 20px;
  right: 10px;
 }

 &_icon{
  width: 20px;
  height: 20px;
 }
}

.innerContent{
  text-align: left;
  font-size: small;
}