@import '../../../app.module.scss';

.card_small {
  flex-shrink: 0;
  width: 300px;
  padding: 10px;
  color: $color-raisin-black;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 150%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s all;
  overflow: hidden;

  &_header {
    position: relative;
  }

  &_sign {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.card {
  &_none {
    display: none;
  }

  &_header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 240px;
    margin-bottom: 10px;
  }

  &_img {
    width: 240px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.innerContent {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 2fr 1fr;
  height: 420px;
  overflow-y: auto;
  overflow-x: hidden;

  h3 {
    margin: 10px 0 5px 0;
  }

  h4 {
    margin-top: 10px;
    text-decoration: underline;
  }

  p {
    font-size: 15px;
  }

  &_text {
    padding-left: 10px;
  }
}

.btn {
  &_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color-gainsboro;
    }
  }

  &_normal {
    width: 240px;
    height: 40px;
    margin: 10px 0;
    text-transform: uppercase;
    background-color: $color-moonstone-blue;
    border: none;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: $color-mentol-green;
    }
  }

  &_expand {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.innerContent {
  font-size: small;
  text-align: left;
}

.faded {
  color: $color-gray;
}

.Modal {
  position: absolute;
  top: 20%;
  left: calc(50vw - 400px);
  width: 800px;
  padding: 30px;
  background-color: $color-papaya-whip;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5px;
  outline: none;
}

@media screen and (max-width: 900px) {
  .Modal {
    top: 100px;
    left: calc(50vw - 300px);
    width: 600px;
  }
}

@media screen and (max-width: 635px) {
  .Modal {
    left: calc(50vw - 48%);
    width: 96%;
  }

  .innerContent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .btn_normal {
    margin-right: 10px;
  }
}
