@import '../mainPage.module.scss';

.team {
  position: relative;
  padding-bottom: 100px;
  font-family: 'Comfortaa', cursive;
  background-color: $color-turquoise-surf;

  &_title {
    margin-top: calc(0.0625rem + ((1vw - 3.2px) * -8.8393));
    font-family: 'Neucha', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
  }

  &_notice,
  &_location {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
  }

  &_notice {
    text-transform: uppercase;

    span {
      font-size: 1.5rem;
    }
  }

  &_cards {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 2rem;
  }

  &_card {
    display: flex;
    gap: 20px;
    width: 70%;
    padding: 20px;
    color: $color-raisin-black;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 150%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:nth-child(1) {
      background-color: $color-sandy-brown;
    }

    &:nth-child(2) {
      background-color: $color-light-lime-green;
      align-self: flex-end;
    }

    &:nth-child(3) {
      background-color: $color-pikachu-yellow;
    }

    &_title {
      font-family: 'Neucha', cursive;
      font-size: 1.7rem;
      font-weight: 600;
      text-align: center;
    }

    &_info {
      margin-top: 1rem;
    }

    &_avatar {
      display: flex;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &_name {
      font-size: 1.5rem;
      text-align: right;
    }

    &_status {
      margin-top: 1rem;
      color: $color-dark-chocolate;
      font-family: 'Neucha', cursive;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      text-align: right;
      text-transform: uppercase;
    }

    &_work {
      margin-top: 1rem;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 900px) {
  .team {
    &_card {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .team {
    &_card {
      flex-direction: column;
      width: 100%;

      &_avatar {
        display: flex;
        justify-content: center;
      }
    }
  }
}
