@import '../../../app.module.scss';

.logo {
  color: $color-turquoise-surf;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &_L {
    color: $color-june-bud;
  }

  &_ang {
    color: $color-golden-poppy;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    font-weight: 400;
  }

  &_container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &_slogan {
    display: flex;
    flex-direction: column;
    color: $color-charm-pink;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
